body{
    background-size: cover;
    background-image: url(../img/bg-diagonal-lines.jpg);
    background-repeat: no-repeat;
	color: black;
	font-family: 'Montserrat', sans-serif;
	opacity: 90%;
}


input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=email] {
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
  input[type=password] {
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=tel] {
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=submit] {
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: gold;
      background-color: black;
  }
  
  input[type=submit]:hover {
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: grey;
      background-color: black;
    }
  
  .modal-boton{
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: gold;
      background-color: black;
  }
  
  .modal-boton:hover{
      width: 100%;
      padding: 5px;
      margin: 2px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: grey;
      background-color: black;
  }